In [1]:
import numpy as np
import pandas as pd

In [26]:
df_2018 = pd.read_excel('документы приобретения товаров за 2018 год.xls')
df_2019 = pd.read_excel('документ приобретения товаров за 2019 год.xls')
df_2020 = pd.read_excel('документ приобретения товара за 2020 год.xls')

In [13]:
df_2018.head()

,Unnamed: 0,НУ,Дата,Номер,Вид операции,Склад,Контрагент,Договор,Сумма,Валюта,Ответственный,Автор,Комментарий
0,NaN,Да,07.09.2018 8:00:00,100,Импорт,Основной склад,CHANGJIN,Основной договор,42210.00,USD,Главбух,Главбух,Азык 0002593
1,NaN,Да,07.09.2018 8:01:00,101,Импорт,Основной склад,CHANGJIN,Основной договор,50672.50,USD,Главбух,Главбух,Азык 0002631
2,NaN,Да,07.09.2018 8:02:00,108,Импорт,Основной склад,CHANGJIN,Основной договор,48561.80,USD,Главбух,Главбух,0002735 Нуржигит
3,NaN,Да,08.09.2018 8:01:00,102,Импорт,Основной склад,CHANGJIN,Основной договор,46137.18,USD,Главбух,Главбух,ГТД 0003556 Алмаз б/и
4,NaN,Да,16.09.2018 8:00:00,34,Импорт,Основной склад,KASHI HONGRUI CO LTD,Основной договор,54591.60,USD,Главбух,Главбух,Азык 0004226

In [15]:
df_2018.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 234 entries, 0 to 233
Data columns (total 13 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Unnamed: 0     0 non-null      float64
 1   НУ             234 non-null    object
 2   Дата           234 non-null    object
 3   Номер          234 non-null    int64
 4   Вид операции   234 non-null    object
 5   Склад          234 non-null    object
 6   Контрагент     234 non-null    object
 7   Договор        234 non-null    object
 8   Сумма          234 non-null    float64
 9   Валюта         234 non-null    object
 10  Ответственный  234 non-null    object
 11  Автор          234 non-null    object
 12  Комментарий    234 non-null    object
dtypes: float64(2), int64(1), object(10)
memory usage: 23.9+ KB

In [25]:
df_2019.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 457 entries, 0 to 456
Data columns (total 13 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Unnamed: 0     0 non-null      float64
 1   НУ             457 non-null    object
 2   Дата           457 non-null    object
 3   Номер          457 non-null    int64
 4   Вид операции   457 non-null    object
 5   Склад          457 non-null    object
 6   Контрагент     457 non-null    object
 7   Договор        457 non-null    object
 8   Сумма          457 non-null    float64
 9   Валюта         457 non-null    object
 10  Ответственный  457 non-null    object
 11  Автор          457 non-null    object
 12  Комментарий    455 non-null    object
dtypes: float64(2), int64(1), object(10)
memory usage: 46.5+ KB

In [27]:
df_2020.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 457 entries, 0 to 456
Data columns (total 13 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Unnamed: 0     0 non-null      float64
 1   НУ             457 non-null    object
 2   Дата           457 non-null    object
 3   Номер          457 non-null    int64
 4   Вид операции   457 non-null    object
 5   Склад          457 non-null    object
 6   Контрагент     457 non-null    object
 7   Договор        457 non-null    object
 8   Сумма          457 non-null    float64
 9   Валюта         457 non-null    object
 10  Ответственный  457 non-null    object
 11  Автор          457 non-null    object
 12  Комментарий    455 non-null    object
dtypes: float64(2), int64(1), object(10)
memory usage: 46.5+ KB

In [28]:
sum_2018 = df_2018['Сумма'].sum()
sum_2019 = df_2019['Сумма'].sum()
sum_2020 = df_2020['Сумма'].sum()
print("Сумма операцийй за 2018 год = {} \n Сумма операцийй за 2019 год = {} \n Сумма операцийй за 2020 год = {}".format(sum_2018,sum_2019,sum_2020))

Сумма операцийй за 2018 год = 12365714.919999998
 Сумма операцийй за 2019 год = 2367773.7
 Сумма операцийй за 2020 год = 13203342.2

In [22]:
df_2018.groupby('Контрагент').sum()

                      Unnamed: 0  Номер       Сумма
Контрагент
CHANGJIN                     0.0  20975  6166063.53
KASHI HONGRUI CO LTD         0.0   7777  6158538.03
REYTEKS                      0.0    204    20504.67
TORES TEKSTIL                0.0    205    20608.69

In [29]:
df_2019.groupby('Контрагент').sum()

,Unnamed: 0,Номер,Сумма
Контрагент,,,
CARGO AIR CHARTERING F Z E OF X1 05,0.0,432,1002279.0
CHANGJIN,0.0,6,313577.7
"INTERNATIONAL FORWARDING AGENCY ""KASHI HONGRUI CO LTD""",0.0,132,164501.0
KASHI HONGRUI CO LTD,0.0,468,887416.0