In [1]:
import pandas as pd

In [2]:
pwd

'C:\\Users\\Максим\\Desktop\\Work\\2021_DS_ML\\pandas'

In [3]:
ls

 ’®¬ ў гбва®©бвўҐ C ­Ґ Ё¬ҐҐв ¬ҐвЄЁ.
 ‘ҐаЁ©­л© ­®¬Ґа в®¬ : A26D-3DEA

 ‘®¤Ґа¦Ё¬®Ґ Ї ЇЄЁ C:\Users\Њ ЄбЁ¬\Desktop\Work\2021_DS_ML\pandas

01.02.2021  12:24    <DIR>          .
01.02.2021  12:24    <DIR>          ..
01.02.2021  11:57    <DIR>          .ipynb_checkpoints
29.01.2021  12:34    <DIR>          03-Pandas
29.01.2021  13:01            46я426 pandas_concatenation1.ipynb
28.01.2021  10:50            13я847 pandas_condition.ipynb
01.02.2021  12:24            20я923 pandas_datetime.ipynb
29.01.2021  11:00            68я679 pandas_groupby1.ipynb
29.01.2021  19:02            44я827 pandas_lambton.ipynb
28.01.2021  12:22            80я850 pandas_methods1.ipynb
29.01.2021  10:12            27я374 pandas_missing_data1.ipynb
31.01.2021  18:13            10я237 pandas_str_methods.ipynb
27.01.2021  11:28             4я921 pandas1.ipynb
28.01.2021  10:11            84я495 pandas2.ipynb
01.02.2021  11:57                72 Untitled1.ipynb
27.01.2021  16:15           158я208 ¤®Єг¬Ґ­в ЇаЁ®ЎаҐвҐ­Ёп в®ў а  §  2020 Ј®¤.xls
27.01.2021  16:16            19я968 ¤®Єг¬Ґ­в ЇаЁ®ЎаҐвҐ­Ёп в®ў а®ў §  2019 Ј®¤.xls
27.01.2021  16:17            82я944 ¤®Єг¬Ґ­вл ЇаЁ®ЎаҐвҐ­Ёп в®ў а®ў §  2018 Ј®¤.xls
              14 д ©«®ў        663я771 Ў ©в
               4 Ї Ї®Є  36я552я556я544 Ў ©в бў®Ў®¤­®

In [10]:
df = pd.read_csv('03-Pandas/example.csv',index_col=0)

In [11]:
df

     b   c   d
a
0    1   2   3
4    5   6   7
8    9  10  11
12  13  14  15

In [19]:
df.to_csv('newfile.csv',index=False)

In [20]:
df1 = pd.read_csv('newfile.csv')
df1

    b   c   d
0   1   2   3
1   5   6   7
2   9  10  11
3  13  14  15