In [1]:
import pandas as pd
import numpy as np

In [2]:
mylist = ['USA','Canada','Mexico']

In [3]:
mydata = [1776,1867,1821]

In [6]:
myser = pd.Series(data=mydata,index=mylist)

In [7]:
myser

USA       1776
Canada    1867
Mexico    1821
dtype: int64

In [9]:
myser['USA']

1776

In [10]:
ages = {'Sam':5,'Kazzak':10,'Spike':21}

In [11]:
pd.Series(ages)

Sam        5
Kazzak    10
Spike     21
dtype: int64

In [12]:
q1 = {'Japan':80,'China':450,'India':200,'USA':250}
q2 = {'Brazil':100,'China':500,'India':210,'USA':260}

In [14]:
sales_q1 = pd.Series(q1)
sales_q2 = pd.Series(q2)

In [15]:
sales_q1

Japan     80
China    450
India    200
USA      250
dtype: int64

In [16]:
sales_q2

Brazil    100
China     500
India     210
USA       260
dtype: int64

In [18]:
sales_q1.keys()

Index(['Japan', 'China', 'India', 'USA'], dtype='object')

In [19]:
sales_q1 / 100

Japan    0.8
China    4.5
India    2.0
USA      2.5
dtype: float64

In [21]:
sales_q1.add(sales_q2,fill_value=0)

Brazil    100.0
China     950.0
India     410.0
Japan      80.0
USA       510.0
dtype: float64