In [3]:
import numpy as np
import pandas as pd

In [4]:
data = {
    "name":['maksim','costigun'],
    "last_name":['surovkin',''],
    "email": ['maximneveraa@gmail.com','costigun@scorseze.com']
}

In [5]:
df = pd.DataFrame(data)

In [6]:
df

       name last_name                   email
0    maksim  surovkin  maximneveraa@gmail.com
1  costigun             costigun@scorseze.com

In [7]:
df['name'].str.upper()

0      MAKSIM
1    COSTIGUN
Name: name, dtype: object

In [8]:
df.columns.str.upper()

Index(['NAME', 'LAST_NAME', 'EMAIL'], dtype='object')

In [9]:
email = 'maksim@gmail.com '

In [10]:
email.split('@')

['maksim', 'gmail.com ']

In [11]:
names = pd.Series(['andrew','bobo','claire','david','5'])

In [12]:
names

0    andrew
1      bobo
2    claire
3     david
4         5
dtype: object

In [13]:
names.str.upper()

0    ANDREW
1      BOBO
2    CLAIRE
3     DAVID
4         5
dtype: object

In [14]:
tech_finance = ['GOOG,APPL,AMZN','JPM,BAC,GS']
len(tech_finance)

2

In [15]:
tickers = pd.Series(tech_finance)

In [16]:
tickers

0    GOOG,APPL,AMZN
1        JPM,BAC,GS
dtype: object

In [27]:
tickers.str.split(',',expand=True)

      0     1     2
0  GOOG  APPL  AMZN
1   JPM   BAC    GS

In [29]:
tickers.str.replace('GOOG','google')

0    google,APPL,AMZN
1          JPM,BAC,GS
dtype: object

In [28]:
tickers

0    GOOG,APPL,AMZN
1        JPM,BAC,GS
dtype: object

In [30]:
messy_names = ['ma;ksim','           anton','   rustam    ','JoJO']

In [33]:
messy_names = pd.Series(messy_names)

In [36]:
messy_names.str.replace(';','').str.strip().str.capitalize()

0    Maksim
1     Anton
2    Rustam
3      Jojo
dtype: object

In [39]:
messy_names

0             ma;ksim
1               anton
2          rustam
3                JoJO
dtype: object

In [37]:
def clean(name):
    name = name.replace(';','')
    name = name.strip()
    name = name.capitalize()
    return name

In [38]:
messy_names.apply(clean)

0    Maksim
1     Anton
2    Rustam
3      Jojo
dtype: object